- name: virtostart-main
  platform:
    imageRepository: virtopaasregistry.azurecr.io/virtostart/platform
    tier: enterprise
    config:
      VirtoCommerce__SampleDataUrl: https://vc3prerelease.blob.core.windows.net/packages/clothing-and-electronics_3_0_2.zip
      APPINSIGHTS_INSTRUMENTATIONKEY: 9fde4353-9a4a-4fe3-9a03-a0c80b4220ff
      AzureAd__ApplicationId: "54cefda5-2d23-4518-ac12-f55a0e1225d4"
      AzureAd__TenantId: "bc03e660-5e3a-45c4-bf5c-b75489f78923"
      AzureAd__Priority: "0"
      PasswordLogin__Priority: "1"
      Search__OrderFullTextSearchEnabled: true
      Notifications__DefaultSender: "virto.start@virtoway.com"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: true
      Notifications__DefaultSender: "azure_25da07ed75daacae20578a7a7dc58541@azure.com"
      Notifications__Gateway: "SendGrid"
      Notifications__SmsDefaultSender: "+17012510519"
      Notifications__Smtp__EnableSsl: "False"
      Notifications__Smtp__Host: "smtp.sendgrid.net"
      Notifications__Smtp__Login: "apikey"
      Notifications__Smtp__Port: "587"
    secretConfig:
      Notifications__SendGrid__ApiKey: sendkey
  storefront:
    imageRepository: virtopaasregistry.azurecr.io/virtostart/storefront
    themeUrl: https://github.com/VirtoCommerce/vc-theme-b2b-vue/releases/download/1.3.0/vc-theme-b2b-vue-1.3.0.zip
    themeName: B2B-store
    config:
      VirtoCommerce__Endpoint__Password: 1Password
      VirtoCommerce__DefaultStore: B2B-store
      SnapshotCollectorConfiguration__IsEnabled: false
      APPINSIGHTS_INSTRUMENTATIONKEY: 4eef52ad-79ec-410c-a273-0a1abff866ea
      Reload: 2022-06-27-01
    secretConfig: {}
  ingress:
    storefrontHostname: virtostart-demo-store.govirto.com
    hostname: virtostart-demo-admin.govirto.com
  advancedService: {}
  protectedParameters:
    - platform.image.tag
    - storefront.image.tag
