- name: vcptcore-loadtest
  gitops: true
  production: false
  servicePlan: S1
  platform:
    imageRepository: virtopaasregistrymain.azurecr.io/vcptcore/platform
    imageTag: 3.403.0-72964a3
    sqlReplica: false
    config:
      Notifications__DefaultSender: azure_25da07ed75daacae20578a7a7dc58541@azure.com
      Notifications__Gateway: SendGrid
      Notifications__SmsDefaultSender: +17012510519
      Notifications__Smtp__EnableSsl: False
      Notifications__Smtp__Host: smtp.sendgrid.net
      Notifications__Smtp__Login: apikey
      Notifications__Smtp__Port: 587
      DOTNET_USE_POLLING_FILE_WATCHER: true
      ConnectionStrings__RedisConnectionString: 
      VirtoCommerce__LocalUploadFolderPath: wwwroot/cms-content
      AzureAd__Priority: 1
      PasswordLogin__Priority: 0
      Reload: 58
      Tax__Avalara__AccountNumber: 2000188799
      Tax__Avalara__LicenseKey: 16BC3F87E836E15C
      #Search__Provider: Lucene
      VirtoCommerce__SampleDataUrl: https://virtocommerce.azureedge.net/sample-data/b2b-sample-store.zip
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: true
      AppInsights__EnableDependencyTrackingTelemetryModule: false
      Swagger__UI__Enabled: false
      Search__OrderFullTextSearchEnabled: true
      Search__ContentFullTextSearchEnabled: true
      Search__ElasticSearch__EnableCompatibilityMode: true
      Search__ElasticAppSearch__EnableHttpCompression: true
      Search__ElasticAppSearch__Endpoint: https://enterprise-search-vc03.govirto.com
      AzureAd__Enabled: true
      AzureAd__ApplicationId: 86d04c35-143d-4d3c-aea2-8608e2186282
      AzureAd__TenantId: common
      AzureAd__ValidateIssuer: MultitenantAzureAD
      Content__Provider: FileSystem
      Assets__Provider: FileSystem
      Content__AzureBlobStorage__RootPath: cms
      Content__AzureBlobStorage__ConnectionString: DefaultEndpointsProtocol=https;AccountName=qademovc3;AccountKey=qPIpM63MI2P3ei6B1xIL4/DlKDqdsRj54z2GUtgCAeXPcMe8+mZiUvrvI5fjdyrovk331XmBlMFfAEFAjCnvtw==;EndpointSuffix=core.windows.net
      VirtoCommerce__LicenseFilePath: app_data/VirtoCommerce.lic
      VirtoCommerce__LicensePublicKeyPath: app_data/public.key
      VirtoCommerce__LicensePrivateKeyPath: app_data/private.key
      VirtoCommerce__Licensing__LicensePrivateKeyPath: /opt/virtocommerce/platform/license/VirtoCommerce.lic
      VirtoCommerce__Hangfire__JobStorageType: SqlServer
      Logging__LogLevel__Default: Information
      Payments__AuthorizeNet__ApiLogin: 8hPT4p99R
      Payments__AuthorizeNet__SHA2Hash: FA6D2B37A7E9105942D2D184F1B2DBD8D9CA85611DE55B2267A6F7E0D7E49ACD9A6BC238CE068E75CA14ACFAD734F700FD94DCAB20353DD4D32D9BABE72DBBE4
      Payments__AuthorizeNet__TxnKey: 63c54EWq5d2XnGAR
      ASPNETCORE_ENVIRONMENT: Production
      DefaultMainMenuState__items__0__path: browse/marketing
      DefaultMainMenuState__items__0__isFavorite: true
      DefaultMainMenuState__items__0__order: 1
      VirtoCommerce__ApplicationInsights__SamplingOptions__Processor: Fixed
      APPINSIGHTS_INSTRUMENTATIONKEY: cada4cf7-305b-4827-a03a-ca9aac67fb9e
      FrontendSecurity__OrganizationMaintainerRole: Organization maintainer
      IdentityOptions__Password__RequiredLength: 3
      IdentityOptions__Password__RequireDigit: false
      IdentityOptions__Password__RequireNonAlphanumeric: false
      IdentityOptions__Password__RequireUppercase: false
      IdentityOptions__Password__RequireLowercase: true
      EventBus__Connections__0__Name: "AzureEventGridApps"
      EventBus__Connections__0__ProviderName: "AzureEventGrid"
      EventBus__Connections__0__ConnectionOptionsSerialized: "{\"ConnectionString\": \"https://test-event-grid-dont-delete.westus-1.eventgrid.azure.net/api/events\", \"AccessKey\": \"kvpXOgw5MiNjBeBKdroX1r45UvZloXMwlM7i1TyqoiI=\"}"
      EventBus__Subscriptions__0__ConnectionName: "AzureEventGridApps"
      EventBus__Subscriptions__0__Name: "TestSubscriptionAppS"
      EventBus__Subscriptions__0__Events__0__EventId: "VirtoCommerce.Platform.Core.Security.Events.UserChangedEvent"
    secretConfig:
      Search__ElasticAppSearch__PrivateApiKey: elasticappsearch
      Notifications__SendGrid__ApiKey: sendkey
      Notifications__Smtp__Password: smtppasswordyandex
  storefront:
    enabled: true
    imageRepository: virtopaasregistrymain.azurecr.io/vcptcore/storefront
    servicePlan: S1
    imageTag: 6.23.0-alpha.955-dev-71824774
    config:
      DOTNET_USE_POLLING_FILE_WATCHER: true
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: true
      CookieAuthenticationOptions__ExpireTimeSpan: 12:00:00
      SnapshotCollectorConfiguration__IsEnabled: false
      Swagger__UI__Enable: true
      VirtoCommerce__DefaultStore: B2B-store
      VirtoCommerce__Endpoint__Password: store
    themes:
      B2B-store: https://vc3prerelease.blob.core.windows.net/packages/vc-theme-b2b-vue-1.35.0-pr-656-c72c-c72cb0d5.zip
  ingress: {}
  customApps:
    app1:
      enabled: false
    app2:
      enabled: false
  version: 3.208
