- name: vcptcore-stable
  gitops: true
  production: false
  servicePlan: F1
  platform:
    imageRepository: virtopaasregistrymain.azurecr.io/vcptcore/platform
    imageTag: 3.264.14-c5e1d9b
    sqlReplica: false
    config:
      DOTNET_USE_POLLING_FILE_WATCHER: true
      Notifications__DefaultSender: azure_25da07ed75daacae20578a7a7dc58541@azure.com
      Notifications__Gateway: SendGrid
      Notifications__SmsDefaultSender: +17012510519
      Notifications__Smtp__EnableSsl: False
      Notifications__Smtp__Host: smtp.sendgrid.net
      Notifications__Smtp__Login: apikey
      Notifications__Smtp__Port: 587
      Reload: 2
      Search__ElasticSearch__EnableCompatibilityMode: true
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: true
      AppInsights__EnableDependencyTrackingTelemetryModule: false
      Swagger__UI__Enabled: true
      PushNotifications__ForceWebSockets: true
      PushNotifications__ScalabilityMode: RedisBackplane
      PushNotifications__HubUrl: https://vcptcore-regression.govirto.com/pushNotificationHub
      PushNotifications__RedisBackplane__ChannelName: vcptcore-regression-chanel
      Content__FileSystem__PublicUrl: https://vcptcore-regression.govirto.com/cms-content/
      Assets__FileSystem__PublicUrl: https://vcptcore-regression.govirto.com/cms-content/assets/
      VirtoCommerce__LicenseFilePath: app_data/VirtoCommerce.lic
      VirtoCommerce__LicensePublicKeyPath: app_data/public.key
      VirtoCommerce__LicensePrivateKeyPath: app_data/private.key
      VirtoCommerce__LocalUploadFolderPath: app_data/uploads
      VirtoCommerce__LicenseActivationUrl: https://license.virtocommerce.org/api/licenses/activate/
      VirtoCommerce__Hangfire__JobStorageType: SqlServer
      Search__OrderFullTextSearchEnabled: true
      Payments__AuthorizeNet__ApiLogin: 8hPT4p99R
      Payments__AuthorizeNet__SHA2Hash: FA6D2B37A7E9105942D2D184F1B2DBD8D9CA85611DE55B2267A6F7E0D7E49ACD9A6BC238CE068E75CA14ACFAD734F700FD94DCAB20353DD4D32D9BABE72DBBE4
      Payments__AuthorizeNet__TxnKey: 63c54EWq5d2XnGAR
      Tax__Avalara__AccountNumber: 2000188799
      Tax__Avalara__LicenseKey: 16BC3F87E836E15C
      AzureAd__Enabled: true
      AzureAd__Priority: 1
      AzureAd__AuthenticationType: AzureAD
      AzureAd__ApplicationId: 8227d950-975c-4c28-b7d4-ea440a59dcbb
      AzureAd__TenantId: bc03e660-5e3a-45c4-bf5c-b75489f78923
      APPINSIGHTS_INSTRUMENTATIONKEY: 4ead1786-2f72-48ae-a55b-fa934117edfb
      PasswordLogin__Enabled: true
      PasswordLogin__Priority: 0
      DefaultMainMenuState__items__0__path: browse/marketing
      DefaultMainMenuState__items__0__isFavorite: true
      DefaultMainMenuState__items__0__order: 0
      VirtoCommerce__SampleDataUrl: https://vc3prerelease.blob.core.windows.net/packages/clothing-and-electronics_3_0_2.zip
    secretConfig:
      Notifications__SendGrid__ApiKey: sendkey
      Search__ElasticAppSearch__PrivateApiKey: elasticappsearch
  storefront:
    enabled: false
    imageRepository: virtopaasregistrymain.azurecr.io/vcptcore/storefront
    imageTag: 6.0
    config:
      DOTNET_USE_POLLING_FILE_WATCHER: true
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: true
      CookieAuthenticationOptions__ExpireTimeSpan: 12:00:00
      Swagger__UI__Enable: true
      SnapshotCollectorConfiguration__IsEnabled: false
      VirtoCommerce__DefaultStore: B2B-store
      VirtoCommerce__Endpoint__Password: store
    themes:
      B2B-store: https://github.com/VirtoCommerce/vc-theme-b2b/releases/download/3.0.8/vc-b2b-theme-3.0.8.zip
      Electronics: https://github.com/VirtoCommerce/vc-theme-default/releases/download/2.1.13/vc-theme-default-2.1.13.zip
  ingress: {}
  customApps:
    app1:
      enabled: false
    app2:
      enabled: false
  version: 3.207
