name: Cloud infra deployment
on:
  workflow_dispatch:
  push:
    paths:
      - "infra/**"
    branches:
      - "bangkok-*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install VirtoCommerce.GlobalTool
        uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master

      - name: Set values
        run: |
          echo "APP_NAME=$(echo ${{ github.ref_name }} | awk -F- '{print $2}'" >> $GITHUB_ENV

      - name: Update bangkok-${{ env.APP_NAME }} cloud environment
        env:
          ARGO_APP_NAME: ${{ env.APP_NAME }}
          SERVICE_PLAN: B2
          DB_NAME: bangkok-qa-platform_bangkok
          ELASTIC_USER: bangkok-qa-bangkok
          WEBHOOK_URL: eastus-vc-dev.webhook.virtocloud.dev
          REGISTRY: virtopaasregistrymain.azurecr.io
          SAAS_TOKEN: ${{ secrets.BANGKOK_PORTAL_TOKEN }}
          EXTERNAL_HOST: bangkok-qa.virtocloud.dev
        run: |
          envsubst < environment.template > environment.yml
          vc-build UpdateCloudEnvironment -CloudToken $SAAS_TOKEN -ArgoConfigFile environment.yml -CloudUrl https://portal.virtocloud.dev
        working-directory: infra
