name: Cloud infra deployment

on:
  workflow_dispatch:
  push:
    paths:
      - 'infra/**'
    branches: 
      - 'vcst-*'

jobs:
  gitops:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
   
      - name: Install vc-build
        run: |
          dotnet tool install --global VirtoCommerce.GlobalTool

      - name: Update app
        run: |
          vc-build UpdateCloudEnvironment -CloudToken ${{ secrets.VCST_PLATFORM_TOKEN }} -ArgoConfigFile $ENV_FILE -CloudUrl https://portal.virtocommerce.cloud
        env:
          ENV_FILE: './infra/environments.yml'
          ARGO_SERVER: https://argo.virtocommerce.cloud
          TOKEN: ${{ secrets.VCST_TOKEN }}