name: Cloud storefront deployment

on:
  workflow_dispatch:
  push:
    paths:
      - 'storefront/**'
    branches: 
      - 'vcst-*'

jobs:
  gitops:
    runs-on: ubuntu-latest
    env:
      ARGO_APP_NAME: ${{ github.ref_name }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Install vc-build
      run: |
        dotnet tool install --global VirtoCommerce.GlobalTool
    
    - name: Get storefront version
      id: platform-version
      run: |
        echo "STOREFRONT_TAG=$(cat ./storefront/image.json | jq -r '.Tag')" >> $GITHUB_ENV
        echo "STOREFRONT_REPO=$(cat ./storefront/image.json | jq -r '.Repository')" >> $GITHUB_ENV
      
    - name: Docker
      run: |
        docker login virtopaasregistrymain.azurecr.io -u vcst-token -p ${{ secrets.VCST_ACR_DOCKER_PASSWORD }}
        docker pull $STOREFRONT_REPO:$STOREFRONT_TAG
        docker tag $STOREFRONT_REPO:$STOREFRONT_TAG virtopaasregistrymain.azurecr.io/vcst/storefront:$STOREFRONT_TAG
        docker push virtopaasregistrymain.azurecr.io/vcst/storefront:$STOREFRONT_TAG

    - name: Update app
      run: |
        vc-build SetEnvParameter -EnvironmentName ${{ env.ARGO_APP_NAME }} -CloudToken ${{ secrets.VCST_PLATFORM_TOKEN }} -HelmParameters storefront.image.tag=$TAG
      env:
        TAG: ${{ env.STOREFRONT_TAG }}
